/* Your existing CSS code */
html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: Almarai;
    font-weight: bold;
    width: 100%;
    height: 100vh;
}

#opensidebar {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    display: none;
    background-color: white;
}



.right-side {
    flex: 1 1 10%;
    order: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    width: 10%;
}

.sidebar-item {
    margin: 5px 0;
    text-align: center;
    border-radius: 4px;
}

.eapp-weather-weather-component {
    width: 100%;
    align-self: center;
    height: 500px;
}

.eapp-weather-weather-component {
    max-width: 100% !important;
}

/* Adjust height distribution */
.sidebar-item:nth-child(1) {
    flex: 1 1 50%;
}

.sidebar-item:nth-child(2),
.sidebar-item:nth-child(3) {
    flex: 1 1 25%;
}

@media (min-width: 1920px) {
    .sidebar {
        width: 300px;
    }

    .sidebar-item {
        font-size: 1.5rem;
        padding: 20px;
    }

    .sidebar-item:nth-child(1) {
        flex: 1 1 90%;
    }

    .sidebar-item:nth-child(2),
    .sidebar-item:nth-child(3) {
        flex: 1 1 5%;
    }
}

.left-side {
    flex: 9;
    order: 1;
    display: flex;
    flex-direction: column;
}

#gallery {
    position: relative;
    flex: 9;
    order: 1;
    width: 100%;
}

#news-side {
    flex: 1;
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#media-container {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.media-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: unset;
    animation: fade-in 1s ease forwards;
}

.media-item.active {
    display: inline-block;
}

#news-ticker {
    background: linear-gradient(to right, rgb(1, 6, 148), rgb(37, 4, 81));
    color: white;
    width: 100%;
    flex: 1;
}

.news-ticker {
    border-radius: 0 0 20px 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    background-color: bisque;
    z-index: 99;
    flex: 1;
}

.news {
    font-size: 35px;
    margin-top: 5px;
    font-weight: bold;
    padding: 10px;
    color: black;
}

.animate-slide-on {
    animation: slide-on 1.3s ease forwards;
}

.animate-slide-in {
    animation: slide-in 1.3s ease forwards;
}

.inactive {
    display: none;
}

.newslogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: fade-in 3s ease forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0.6;
        transform: translateY(35px);
    }

    100% {
        opacity: 1;
        transform: translateY(5px);
    }
}

@keyframes slide-on {
    0% {
        opacity: 0;
        transform: translateY(7px);
    }

    100% {
        opacity: 1;
        transform: translateY(5px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.news-item {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 200;
    padding: 10px;
    display: inline-block;
}

.logo {
    margin-right: 20px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 200;
    padding: 10px;
    display: inline-block;
}

.news-item:last-child {
    margin-right: 0;
}

.news-item::after {
    content: "|";
    margin-left: 10px;
}

.news-item:last-child::after {
    content: "";
    margin-left: 0;
}

#fullscreen-instruction {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    color: white;
    font-size: 16px;
}

.weather {
    background-image: url("https://picsum.photos/id/870/600/400");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 2;
    order: 1;
}

.current {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.hourly,
.daily {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.hour,
.day {
    flex: 1;
    text-align: center;
}

table {
    text-align: center;
}

tr {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

td {
    width: 100px;
    text-align: center;
}

.futur-weather {
    width: 100%;
}

table.futur-weather tr td {
    width: 33.33%;
}

.card-islamic {
    background-image: url("https://picsum.photos/id/1067/600/400");
    background-size: cover;
    border: 0.3px solid #ccc;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px 0px;
    z-index: 99;
    flex: 2;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-islamic h1 {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.card-islamic .adkar-item {
    font-size: 30px;
    word-spacing: 2px;
    font-weight: bolder;
    margin: 3px 0;
}

.card-time {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px 0px;
    background-image: url("https://picsum.photos/id/401/600/400");
    background-size: cover;
}

.time {
    font-size: 50px;
    font-weight: bolder;
    margin: 3px 0;
    flex: 1;
}

.time-link {
    color: black;
    text-decoration: none;
    flex: 1;
    order: 3;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.copyright {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}

.logo1 {
    display: block;
    margin: 10px auto;
    width: 60px;
    height: auto;
}

/* Media Queries */

/* Mobile Devices (Small screens) */
@media (max-width: 600px) {

    html,
    body {
        flex-direction: row;
    }

    #opensidebar {
        display: unset;
    }


    .right-side {
        width: 20%;
        display: none;
    }

    .left-side {
        flex: 1;
    }

    #gallery,
    #news-side {
        width: 100%;
    }

    .sidebar-item {
        font-size: 1rem;
        padding: 10px;
    }

    .news {
        font-size: 20px;
    }

    .news-item,
    .logo {
        font-size: 14px;
    }

    .card-islamic h1,
    .card-islamic .adkar-item,
    .time {
        font-size: 20px;
    }

    .card-time {
        padding: 10px;
    }
}

/* Tablets (Medium screens) */
@media (min-width: 601px) and (max-width: 1024px) {
    .right-side {
        width: 20%;
    }

    .sidebar-item {
        font-size: 1.2rem;
        padding: 15px;
    }

    .news {
        font-size: 25px;
    }

    .news-item,
    .logo {
        font-size: 16px;
    }

    .card-islamic h1,
    .card-islamic .adkar-item,
    .time {
        font-size: 25px;
    }
}

/* Large screens (Desktops and larger laptops) */
@media (min-width: 1025px) {
    .right-side {
        width: 25%;
    }

    .sidebar-item {
        font-size: 1.4rem;
        padding: 20px;
    }

    .news {
        font-size: 30px;
    }

    .news-item,
    .logo {
        font-size: 18px;
    }

    .card-islamic h1,
    .card-islamic .adkar-item,
    .time {
        font-size: 30px;
    }
}

/* TV screens */
@media (min-width: 1920px) {
    .right-side {
        width: 20%;
    }

    .sidebar-item {
        font-size: 2rem;
        padding: 30px;
    }

    .news {
        font-size: 40px;
    }

    .news-item,
    .logo {
        font-size: 22px;
    }

    .card-islamic h1,
    .card-islamic .adkar-item,
    .time {
        font-size: 40px;
    }
}